name: Code Quality Checks
on:
  pull_request:
    branches: ['master', 'develop']
    types: ['opened', 'reopened', 'synchronize']

permissions:
  contents: read

jobs:
  build:
    name: Code Quality Checks
    runs-on: macos-latest
    
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: Checkout source branch
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      
      - name: Install xcpretty
        run: gem install xcpretty
        
      - name: Build SDK(iOS)
        run: |
          xcodebuild build -scheme RSCrashReporter-iOS -workspace RSCrashReporter.xcworkspace -destination 'platform=iOS Simulator,name=iPhone 14' | xcpretty
          
      - name: Build SDK(watchOS)
        run: |
          xcodebuild build -scheme RSCrashReporter-watchOS -workspace RSCrashReporter.xcworkspace -destination 'platform=watchOS Simulator,name=Apple Watch Series 7 (45mm)' | xcpretty
      
      - name: Build SDK(tvOS)
        run: |
          xcodebuild build -scheme RSCrashReporter-tvOS -workspace RSCrashReporter.xcworkspace -destination 'platform=tvOS Simulator,name=Apple TV' | xcpretty
          
#      - name: Build SDK(macOS)
#        run: |
#          xcodebuild build -scheme RSCrashReporter-macOS -workspace RSCrashReporter.xcworkspace -destination 'platform=macOS,arch=x86_64' | xcpretty
          
      - name: Install Cocoapods
        run: gem install cocoapods
      
      - name: Execute pod lint
        run: pod lib lint --no-clean --allow-warnings
